body {
  background: #fafafa;
}
.container{
  margin: 0 auto;
}
.top-box {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 260px;
  top: 110px;
  margin-bottom: 100px;
  margin-left: 150px;
}
h5 {
  margin: 0px;
}
.top-left-box {
  width: 278px;
  height: 47px;
  margin-right: 100px;
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.045em;
  color: #000000;
}
.top-right-box {
  margin-left: 150px;
  width: 300px;
  height: 27px;
  color: #000000;
}
.heading-text > h6 {
  margin: 0px;
  width: 200px;
  height: 27px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #000000;
}
.para-text > p {
  width: 400px;
  height: 87px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.team-page {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 350px 300px 300px 300px;
  
  background: #fafafa;
}
.team-page-row-1 {
  display: flex;
  flex-direction: row;
  left: 50px;
  /* border: solid 2px black; */
  margin-bottom: 100px;
  /* justify-content: space-between; */
  position: relative;
}
.img-size {
  width: 238px;
  height: 426.5px;
  margin: 0px 70px 0 70px;
}
.team-page-row-2 {
  display: flex;
  flex-direction: row;
  left: 50px;
  
  /* border: solid 2px black; */
  margin-bottom: 100px;
  position: relative;
  /* justify-content: space-between; */
}
.img-position {
  position: relative;
  top: 100px;
}
.profession {
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  transform: rotate(90deg);
}
.person-1,
.person-4 {
  position: absolute;
  height: 16px;
  left: 300px;
  top: 58px;
}
.person-2,
.person-5 {
  position: absolute;
  height: 16px;
  left: 230px;
  top: 58px;
}
.person-3,
.person-6 {
  position: absolute;
  height: 16px;
  right: 100px;
  top: 58px;
}

span {
  width: 128px;
  height: 27px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
.username {
  position: absolute;
  width: 987px;
  height: 17px;
  left: 777px;
  top: 1539px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  align-items: center;

  color: #bdbdbd;
}
