* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.container {
  margin: 8%;
}
.top-left-box {
  height: 10%;
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: -0.045em;
  color: #000000;
  margin-bottom: 5%;
}
.heading-text > h6 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.4rem;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 6%;
}
.para-text > p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 15%;
}

.team-page {
  display: grid;
  margin: 10% 0%;
}

img {
  width: 70%;
}

.img-1 {
  grid-area: bill;
}
.img-2 {
  margin-top: 15%;
  grid-area: saba;
}
.img-3 {
  grid-area: shae;
}
.img-4 {
  margin-top: 15%;
  grid-area: skylah;
}
.img-5 {
  grid-area: griff;
}
.img-6 {
  margin-top: 15%;
  grid-area: stan;
}
.img-position {
  position: relative;
}

.profession {
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.7rem;
  line-height: 0.9rem;
  text-transform: uppercase;
  color: #000000;
  transform: rotate(90deg);
}
.person-1 {
  position: absolute;
  left: 28%;
  top: 43%;
}

.person-2 {
  position: absolute;
  width: 80%;
  left: 35%;
  top: 31%;
}
.person-3 {
  position: absolute;
  left: 0%;
  width: 80%;
  top: 90%;
}
.person-4 {
  position: absolute;
  right: 10%;
  bottom: 23%;
}
.person-5 {
  position: absolute;
  left: 35%;
  width: 80%;
  bottom: 64%;
}
.person-6 {
  margin-top: 8%;
  position: absolute;
  top: 99%;
  right: 10%;
}

.username {
  width: 80%;
  margin: 10% auto;
  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 0.9rem;

  color: #bdbdbd;
}

.team-page {
  grid-template-areas:
    "bill saba"
    "shae skylah"
    "griff stan";
}

@media only screen and (min-width: 900px) {
  .team-page {
    margin: 10% 5%;
    grid-template-areas:
      "bill saba shae"
      "skylah griff stan";
  }
  img {
    width: 75%;
  }
  .container {
    margin-left: 15%;
    margin-right: 15%;
  }
  .top-box {
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
  }
  .top-right-box {
    margin-right: 12%;
    width: 30%;
  }
  .img-2 {
    margin-top: 20%;
    grid-area: saba;
  }
  .img-5 {
    margin-top: 38%;
    grid-area: griff;
  }
  .username {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
